.noborder {
  border: none !important;
}

#myTabContent p {
  margin: 0;
}

#myTableContent h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: unset;
  margin-bottom: revert;

}

.about-info p {
  color: blue;
}

.about-info p,
.about-info label {
  font-weight: bold;
  letter-spacing: 0.25ch;
}

.img-thumbnail {
  object-fit: cover;
}

.tabBorder {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #e9ecef !important;
}

.active.tabBorder {
  border-bottom: 2px solid cornflowerblue !important;
}

.tabButton {
  color: #bdbdbd !important;
}

.active.tabButton {
  color: cornflowerblue !important;
  font-weight: bold;
  transition: 100ms ease-in-out;
}

.about-edit-button {
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: rgb(115, 115, 241);
  color: white;
  margin: 1rem 0 !important;
  border-radius: 3px;
}
