.signup {
  text-align: left;
}

.signup .form-group {
  border-bottom: 1px solid gainsboro;
  width: fit-content;
  padding: 0.25rem;
}

/* Chrome, Safari, Edge, Opera */
.signup input::-webkit-outer-spin-button,
.signup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.signup input[type="number"] {
  -moz-appearance: textfield;
}

.signup .form-group input {
  border: none;
  margin-left: 1rem !important;

  padding: 0.5rem;
}

.signup input:focus {
  outline: none;
}

.signup .form-button {
  border: none;
}

.signup .form-button .form-submit {
  padding: 0.5rem 1.25rem;
  background-color: rgb(115, 115, 241);
  color: white;
  margin: 1rem 0 !important;
  border-radius: 3px;
}

.signup-image img {
  width: 100%;
}
